html,
body {
  margin: 0;
  min-height: 100%;
}

body{
  background-image: url('images/apla3.jpg')  ;
  background-repeat: no-repeat; 
  background-size: cover;
  background-position: center;
} 

canvas {
  /* background-color: white; */
  background: transparent;

}
.buttons{
  padding: 0 20px;
}
.buttons button{
  display: flex;
  /* position: fixed;   */
  justify-content: space-between; 
  font-family: monospace;
  font-size: 40px;
  /* background-color: black; */
  color: #fff;
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 30px;
  margin-bottom: 20px;
  outline: 0;
  box-shadow: none!important;

  /* left: 50%; 
	top: 50%; 
  margin-left: 250px; 
  margin-top: 65px;   */
}
#start-game{
  background-color: black;
}
#start-game:hover{
  background-color: #7BCCB5;
  /* background: var(--color-foreground-text-sub); */
}
#scorebtn{
  background-color: #7BCCB5;
  /* color:#7BCCB5; */
}
.all{
  display: flex;
  justify-content: flex-start;
  justify-content: center;
  margin-top: 80px;
  margin-right: 130px;
}